# Chapter 3. The Five Steps of Data Science

## Explore the data

### Dataset 1 – Yelp

In [ ]:
import pandas as pd

yelp_raw_data = pd.read_csv("../Data/yelp.csv")

yelp_raw_data.head()

In [ ]:
yelp_raw_data.shape

In [ ]:
yelp_raw_data.dtypes

In [ ]:
yelp_raw_data.isnull().sum()

In [ ]:
type(yelp_raw_data)

In [ ]:
yelp_raw_data['business_id'].head() # grabs a single column of the Dataframe

In [ ]:
type(yelp_raw_data['business_id'])

**Nominal level columns**

In [ ]:
yelp_raw_data['business_id'].describe()

In [ ]:
yelp_raw_data['review_id'].describe()

In [ ]:
yelp_raw_data['text'].describe()

** Filtering in Pandas **

In [ ]:
duplicate_text = yelp_raw_data['text'].describe()['top']
print(duplicate_text)

In [ ]:
text_is_the_duplicate = yelp_raw_data['text'] == duplicate_text

In [ ]:
type(text_is_the_duplicate) # it is a Series of Trues and Falses

In [ ]:
text_is_the_duplicate.head() # shows a few Falses out of the Series

In [ ]:
sum(text_is_the_duplicate) # == 2

In [ ]:
filtered_dataframe = yelp_raw_data[text_is_the_duplicate] 
# the filtered Dataframe

filtered_dataframe

In [ ]:
yelp_raw_data['type'].describe()

In [ ]:
yelp_raw_data['user_id'].describe()

** Ordinal level columns **

In [ ]:
yelp_raw_data['stars'].describe()

In [ ]:
yelp_raw_data['stars'].value_counts()

In [ ]:
rates = yelp_raw_data['stars'].value_counts()
rates.sort_values()
print(rates.plot(kind='bar'))

In [ ]:
yelp_raw_data['date'].describe()

### Dataset 2 – titanic

In [ ]:
titanic = pd.read_csv('../Data/original_titanic.csv')
titanic.head()

In [ ]:
titanic.shape

In [ ]:
titanic.dtypes

In [ ]:
import numpy as np
titanic['sex'] = np.where(titanic['sex'] == 'female', 1, 0)

In [ ]:
titanic['sex'].head()

In [ ]:
titanic.describe()

In [ ]:
titanic.isnull().sum()

In [ ]:
print(sum(titanic['age'].isnull()))

average_age = titanic['age'].mean() # get the average age

titanic['age'].fillna(average_age, inplace = True) #use the fillna method to remove null values

print(sum(titanic['age'].isnull())) # == 0 missing values

In [ ]:
titanic.isnull().sum()

In [ ]:
titanic.head()

In [ ]:
titanic.groupby('sex')['age'].mean()